{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A M B A R I S H &nbsp; P A N D E Y</title>
    <link rel="icon" href="{% static 'images/person.png' %}">
    <link rel="icon" href="/Assets/img/15.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preload" href="{% static 'images/fonts/Agustina.21f233e1.woff' %}" as="font" type="font/woff" crossorigin="">
    <script src="https://use.fontawesome.com/66c3c19309.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.3/dist/ionicons.js"></script>
    <!-- links -->
</head>


<body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0">
    <!-- <li><i class="uil uil-moon change-theme" id="theme-button"></i></li> -->
    <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
    <header id="header" class="fixed-top ">
        <div class="container-fluid  navbur">

            <div class="navi">
                <div class="col-xl-9 d-flex align-items-center lefty">
                    <h1 class="logo mr-auto"><a href="#">Ambarish Pandey</a></h1>

                    <nav class="nav-menu d-none d-lg-block float-right">
                        <ul>
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#workexp">Work Experience</a></li>
                            <li><a href="#skills">Skills</a></li>
                            <li><a href="#ppj">Python Projects</a></li>
                            <li><a href="#work">Certifications</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <div class="invert pl-4 " id="theme-button">
                                <ion-icon name='contrast-outline' style="color:rgb(17, 190, 221)"></ion-icon>
                            </div>
                          
                        </ul>

                    </nav>

                    <div class="changed mx-3"><i class="icofont-ui-brightness change-theme" id="theme-button"></i></div>

                </div>
            </div>
        </div>
    </header>
    <section class=" descript "  id="home">
        <div class="container ">

            <div class="small-container ">
                <div class="row">
                    <div class="col-md-6 initial-0 aos-init " data-aos="zoom-in" data-aos-delay="200">
                        <p id="hey">HEY THERE !</p>
                        <h1 id="name">I'M Ambarish Pandey </h1>
                        <h3> Salesforce Developer And Administrator</h3>
                        <p> <span id="big"></span>A highly skilled Salesforce Developer/Administrator with 2x certifications and 1.5 year of experience. With practical experience implementing change, driving best practices, and capacity to adapt to any scenario, one is able to assess, create, and optimize business processes. And also has the potential to grow both personally and professionally.</p>

                        <div class="social">
                            <a href="https://instagram.com/ambarish__pandey?igshid=ZDdkNTZiNTM="> <i class="fa fa-instagram"></i></a>

                            <a href="https://twitter.com/ambarish_pandey?t=i0IaJRDflxPs9jCjzbq-ag&s=08"> <i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/ambarishpandey14/"><i class="fa fa-linkedin" style="background: #4974c5 "></i>
                           </a>
                        </div>
                        <div class="button">
                            <a href="mailto:ambarishpandey998@gmail.com"> <button class="main-button2">Contact me <i class="uil uil-message"style="" ></i>  </button></a>
                            <a class="main-button ml-2" href="static\images\cv\resume.pdf" target="_blank" rel="noopener noreferrer"> <button id="btn2">My Resume <i class="uil uil-import"></i></i>
                            </button></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about its-me " id="about">
        <div class="container2">

            <div class="small-container2 ">
                <div class="row2 initial-3">
                    <div class="col-md-6 aos-init" data-aos="fade-up-right" data-aos-delay="700">
                        <img src="static\images\5.png" alt="">
                    </div>
                    <div class="col-md-6 initial-4">
                        <div class="title aos-init" data-aos="zoom-in" data-aos-delay="200">
                            <h1>ABOUT ME</h1>
                        </div>                   
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">I have completed my sophomore year at St. Francis School Ramnagar Varanasi in 2014, an institution with a strong academic reputation and affiliation with the ICSE board. Later, I went on to complete my senior high school education at DAV Centenary Public School Bahadurgarh in 2016, an educational institution known for its high standards and affiliation with the prestigious CBSE board.</p>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">I am particularly proud of my graduation from Greater Noida Institute of Technology in 2020, with a specialization in Information Technology. This esteemed institution is affiliated with Dr. APJ Abdul Kalam Technical University and has provided me with an excellent education that has prepared me well for my career as a Software developer.</p>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">
                            I completed an internship at CRIS (Centre for Railway Information System) in Chanakyapuri, where I worked on a challenging web development project. I utilized sophisticated front-end and back-end technologies to deliver optimal solutions that met the project's requirements and expectations
                            </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="container3 "  id="workexp" style="padding-left: 80px; padding-right: 50px;">
                <div class="row1 initial-0">
                        <div class="title aos-init" data-aos="zoom-in" data-aos-delay="200">
                            <h1>Work Experience</h1>
                        </div> 
                    <div class="row1 ">
                        <div class="col-md-2 " data-aos="fade-up-right" data-aos-delay="700">
                            <img src="static\images\bvg.png" alt="">
                        </div>               
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init"style="
                        padding-top: 20px;" >Bureau Veritas, Noida — Salesforce Developer/Administrator</p>
                    </div> 
                    <div data-aos="zoom-in" data-aos-delay="200">
                        <h3>September 2021- Present</h3>
                    </div>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">
                            I started at Bureau VERITAS as a new graduate hire in September 2021,Over the course of the following year, I had the opportunity to work in Major Deliveries and Integration Automation, where I was able to gain valuable experience and develop my skills in these areas. Throughout my time in this role, I was tasked with a variety of projects and responsibilities, each of which contributed to my overall growth as a professional.
                            </p>
                    <ul>
                        <li>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">&bull;  Developed Apex Class and Trigger and linked them to manage Workflow</p>
                        </li>
                        <li>
                            <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">&bull;  Used SOQL and SOSL for Data Manipulation</p>
                        </li>
                        <li>
                            <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">&bull;  Worked on the designing of Custom Objects, Custom Tabs, Custom Fields, role-based Page Layouts, Custom Reports, 
                                and Report Folders, Report extractions to various formats, design of Visual Force Pages, Dashboards and various 
                                other components as per the client and application requirements. Maintain User Accounts, Roles and Profiles in the 
                                Salesforce.com application</p>
                        </li>
                        <li> 
                               <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">&bull;  Integrated Salesforce in a python project</p>
                       </li>
                       <li>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">&bull;  Execute data loads, set up and manage security, user permissions, password resets, break/fix instructions and data access. Sustain security which will include sharing rules and security levels. Designed, create and maintain user roles, profiles, and hierarchies and monitor application storage usage and archived data daily</p>
                        </li>
                        <li>         
                            <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">&bull;  Address issues and outages reported by users and get them resolved</p>
                        </li>

                    </ul>
                        <div class="icons aos-init" data-aos="zoom-in" data-aos-delay="300">
                            <div> <i class="fa fa-html5"></i>
                                <p>Html5</p>
                            </div>

                            <div> <i class="fa fa-css3 " aria-hidden=”true”></i>
                                <p>Css</p>
                            </div>
                            <div> <ion-icon name="logo-soundcloud" style="color: blue;font-size:35px"></ion-icon>
                                <p>Salesforce</p>
                            </div>
                            <div>
                                <ion-icon name="logo-python" style="color: #38a4ec;font-size:35px"></ion-icon>
                                <p>Python</p>
                            </div>
                            <div>
                            <div> <ion-icon name="logo-javascript" style="color: yellow;font-size:35px"></ion-icon>
                                <p>Javascript</p>
                            </div>
                            </div>
                        </div>
                        <div class="row1 ">
                            <div class="col-md-3 " data-aos="fade-up-right" data-aos-delay="700" style="
                            padding-top: 50px;" >
                                <img src="static\images\cris.png" alt="">
                            </div>               
                            <p data-aos="zoom-in" data-aos-delay="200" class="aos-init" style="
                            padding-top: 20px;" >Centre for Railway Information Systems, Chanakyapuri, New Delhi — Web Development Trainee</p>
                        </div> 
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">
                            The internship involved the task of designing and developing a website that serves as a platform to connect various railway waiting rooms located across India. The objective of the website is to establish seamless connectivity between these waiting rooms, providing travelers with a comfortable and hassle-free experience during their transit. The development of the website would have involved a range of technical skills, such as web design, front-end and back-end web development, database management, and security implementation. Additionally, the project may have required collaboration with various stakeholders, including railway authorities, technical teams, and end-users to ensure the website meets the requirements of all parties involved.
                            </p>
                            <div class="icons aos-init" data-aos="zoom-in" data-aos-delay="300">
                                <div> <i class="fa fa-html5"></i>
                                    <p>Html5</p>
                                </div>
    
                                <div> <i class="fa fa-css3 " aria-hidden=”true”></i>
                                    <p>Css</p>
                                </div>
                                <div>
                                    <ion-icon name="logo-javascript" style="color: yellow;font-size:35px"></ion-icon>
                                    <p>Javascript</p>
                                </div>
                </div>
        </div>
        <article>
            <div class="container skills" id="skills">

                <div class="small-container">
                    <div class="row9">
                        <div class="col-md-10 initial-5">
                            <div class="title">
                                <h1 class="">SKILLS</h1>
                            </div>
                            <div class="all-bars">
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="bar-info">
                                        <p>Salesforce Administration</p>
                                        <h5>70%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="one"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="400">
                                    <div class="bar-info">
                                        <p>Salesforce Development</p>
                                        <h5>50%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="two"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="400">
                                    <div class="bar-info">
                                        <p>python</p>
                                        <h5>60%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="three"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 20px;">
                <div class="container">
                    <div class="small-container">
                        <div class="row3">
                            <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">
                                <img src="{% static 'images/skills.png' %}" alt="">
                                <div class="card-body col-5-info px-3 py-3">
                                
                                </div>
                            </div>
                                <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">
                                <img src="{% static 'images/soft.png' %}" alt="">
                                <div class="card-body col-5-info px-3 py-3">
                                
                                </div>
        
                            </div>
        
                        </div>
        
                    </div>
                </div>
            </div>
        </article>
        <div class="container2"style="padding-top: 50px;">

            <div class="small-container2 ">
                <div class="row2 initial-3">
                    <div class="col-md-6 aos-init" data-aos="fade-up-right" data-aos-delay="700">
                        <img src="static\images\tsr.png" class="wave" alt="" style="width: 300px">
                    </div>
                    <div class="col-md-6 initial-4">
                        <div class="title aos-init" data-aos="zoom-in" data-aos-delay="200">
                            <h1>Trailhead</h1>
                        </div> 
                    <div class="icons aos-init  c-ico" data-aos="zoom-in" data-aos-delay="300"> 
                        <ul>
                            <li>
                                <i class="fa fa-trophy " aria-hidden="true">    Badges : 275</i>
                            </li>
                            <li>
                                <i class="fa fa-hand-o-right" aria-hidden="true">    Points : 169,050</i>
                            </li>
                            <li>
                                <i class="fa fa-thumb-tack" aria-hidden="true">    Trail : 33</i>
                            </li>
                            <li>
                                <i class="fa fa-certificate" aria-hidden="true">    Superbadge : 2</i>
                            </li>
                        </ul>             

                    </div> 
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="ppj"style="padding-top: 50px;">
        <div class="container" id="ppj">
            <div class="title2">
                <h1>Python Project</h1>
            </div>
            <div class="small-container">
                <div class="row3">
                        <div class="card-body col-5-info px-3 py-3 ">
                            <i class="fa fa-product-hunt  fa-2x" aria-hidden="true" >  Salesforce object backup system</i>
                            <p>A software solution developed using Python programming language, Salesforce CLI, and Amazon SES to automate the backup of more than 150 Salesforce Objects on a daily basis. The solution is capable of handling a large data set of over 200GB and saves the backup data in CSV format. Furthermore, the solution sends confirmation emails to relevant stakeholders to notify them about the completion of the backup process.
                            </p>
                        </div>
                        <div class="card-body col-5-info px-3 py-3">
                            <i class="fa fa-product-hunt  fa-2x" aria-hidden="true" >  Salesforce Licenses Alert</i>
                            <p>An automated Python script has been developed to monitor the availability of Salesforce licenses and send alert emails to the management team in the event of a shortage. The script constantly monitors the license count and sends notifications to the relevant stakeholders, ensuring timely action is taken to address any license shortages.
                            </p>
                        </div>
                        <div class="card-body col-5-info px-3 py-3">
                            <i class="fa fa-product-hunt  fa-2x" aria-hidden="true" >  Salesforce Attachment Backup Solution</i>
                            <p>A comprehensive automated tool has been developed to perform backups of all content documents and organize them based on their respective Salesforce objects. The tool provides the flexibility to take either a full or incremental backup, and the full backup script is designed to handle up to 3TB of data. The tool incorporates various advanced technologies, such as multiprocessing, parallelism, and encryption to ensure password security. Additionally, Amazon SES is used to send confirmation emails once the backup process is completed successfully.
                            </p>
                        </div>
                        <div class="card-body col-5-info px-3 py-3">
                            <i class="fa fa-product-hunt  fa-2x" aria-hidden="true" >  Salesforce Monitoring Website</i>
                            <p>A sophisticated portal has been developed utilizing several advanced technologies, including Python programming language, Salesforce CLI, Amazon SES, Django web framework, HTML, CSS, and JavaScript. The portal consists of 8 separate applications, each designed to provide end-to-end monitoring of various Salesforce aspects in real-time. The applications offer comprehensive monitoring and management of critical Salesforce ecosystem components, allowing for efficient and streamlined management of multiple Salesforce applications through a single point of access. The use of cutting-edge technologies ensures optimal performance, security, and scalability of the portal.
                            </p>
                        </div>
                </div>

            </div>
        </div>
    </div>

    <div class="work"style="padding-top: 50px;">
        <div class="container" id="work">
            <div class="title2">
                <h1>Certifications</h1>
            </div>
            <div class="small-container">
                <div class="row3">
                    <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">
                        <img src="{% static 'images/admin.jpg' %}" alt="">
                        <div class="card-body col-5-info px-3 py-3">
                            <h3 class="pb-1">Salesforce Certified Administrator</h3>
                        </div>
                    </div>
                        <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">
                        <img src="{% static 'images/developer.jpg' %}" alt="">
                        <div class="card-body col-5-info px-3 py-3">
                            <h3 class="pb-1">Plateform Developer 1</h3>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>



    <footer id="contact">
        <div class="container">
            <div class="title5">
                <h1>CONTACT ME</h1>
            </div>
            <div class="small-container">
                <div class="row4">
                               
   
                    <div class="col-md-6 initial-8 aos-init" data-aos="fade-down-right" data-aos-delay="300">
                        <p id="helo">Want to hire or just saying hi <img src="{%  static 'images/e.png' %}" alt="" id="e" class="wave"></p>

                        <div class="contact-info">
                            <div class="c-ico">
                                <i class="fa fa-comments"></i> <span id="io">Say Hello</span></i>
                            </div>
                            <p>Email: <span>Ambarishpandey998@gmail.com</span></p>
                            <p>Phone: <span>8010709019</span></p>
                        </div>
                        <div class="contact-info">
                            <div class="c-ico">
                                <i class="fa fa-map-marker"></i><span id="io">Find me in</span>
                            </div>
                            <p><span>Delhi,India</span></p>

                        </div>
                        <div class="contact-info obojo">
                            <div class="c-ico">
                                <i class="fa fa-share-square-o"> <span id="io">Social networks</span> </i>
                            </div>
                            <h4>
                                <a href="https://instagram.com/ambarish__pandey?igshid=ZDdkNTZiNTM=" class="m1"> <i class="fa fa-instagram"></i></a>

                                  <a href="https://twitter.com/ambarish_pandey?t=i0IaJRDflxPs9jCjzbq-ag&s=08" class="m1"> <i class="fa fa-twitter"></i></a>
                            </h4>

                        </div>
                    </div>
                    <div class=" col-md-6 initial-7 aos-init " data-aos="zoom-in " data-aos-delay="700 ">
                        <img src="{% static 'images/19.svg' %} " alt=" ">
                    </div>
         
                </div>
                <div class="footing ">
                    <div class="row justify-content-center ">
                        <div class="col-md-4 ">
                            <p>Thanks For Visiting </p>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="up-arrow ">
            <div class="arrow ">
                <a href="# "><i class="fa fa-angle-up "></i>
            </a>
            </div>
        </div>

    </footer>

    <div id="preloader"></div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>